.login{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	background-image: url("/assets/images/login-2.png");
	background-size: cover;
	background-repeat: none;
	label{
		font-size: 1.2rem;
		font-weight: lighter;
	}
	.white-box{
		min-width: 25vw;
		min-height: 50vh;
		height: auto;
		padding: 2rem;
		margin-top: 10vh;
		left: 37.5vw;
		background-color: #FFF;
		color: #333;
		text-align: center;
		z-index: 3;
		@media(max-width: $phone){
			width: 100% !important;
			height: 100% !important;
			margin-top: 0px;
			left: 0px;
			overflow-y: scroll;
		}
		input[type=text]{
			width: 80%;
			color: #333;
		}
		input[type=password]{
			width: calc(20% - 16px);
			height: 3rem;
			color: #333;
			font-size: 2rem;
			margin-left: 4px;
			padding: 0px;
			text-align: center;
		}
		#first_p{
			margin-left: 8px !important;
		}

		.btn{
			width: 80%;
			height: 3rem;
			font-size: 1rem;
		}
		a{
			font-size: 1rem;
			font-weight: lighter;
			color: #555;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}

	}
}
.signin{
	input[type=text], input[type=password], input[type=email]{
		color: #333;
		font-size: 1rem !important;
		text-align: left !important;
		padding-left: 1rem !important;
	}
	#fb_signin{
		width: 2rem;
		height: 2rem;
		border-radius: 3px;
		cursor: pointer;
		transition: all .3s;
		&:hover{
			box-shadow: 0px 0px 4px #666;
		}
	}
}